.mobile-menu {
  display: none;
}

.hamburger-btn {
  position: fixed;
  top: 20px;
  right: -60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-btn img {
  width: 40px;
  height: 30px;
 
  filter: invert(100%);
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  background: #8d5537;
  padding: 80px 20px;
  transition: 0.3s ease;
}

.mobile-nav.active {
  right: 0;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-nav ul li a {
  color: white;
  font-size: 1.2rem;
}
.mobile-nav ul li a:hover {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .mobile-menu {
    display: block;
  }
}
