#sobreMi{
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 300px;
  max-width: 900px;
   padding: var(--fdr-portfolio-padding-m) var(--fdr-portfolio-margin-s);
  margin: var(--fdr-portfolio-margin-s) auto;

  
}

#sobreMi > div {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: var(--fdr-portfolio-gap-m);
}

#sobreMi > div > h3 {
  font-size: 40px;
}

#sobreMi > div > p {
  font-size: 18px;
  line-height: 1.6;
}